#nav {
  @media (max-width: $screen-xs) {
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    ul li ul li a {
      padding-left: 5rem;
    }
    li {
      &.current-menu-item,
      &.current_page_item,
      &.current-post-parent {
        a {
          color: $white;
        }
        color: #000;
      }
    }
  }
} // end of #nav

#burger {
  display:none;
  position:fixed;
  top:0;
  right:0;
  z-index:99999;
  width:64px;
  height:64px;
  cursor:pointer;
  span {
    position:absolute;
    top:20px;
    left:16px;
    z-index:1;
    display:block;
    width:32px;
    height:4px;
    background: $white;
    border-radius:3px;
    -webkit-transition:all .3s linear;
    -moz-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
    &:nth-child(2) {
      top:30px;
    }
    &:nth-child(3) {
      top:40px;
    }
  } // end of #burger span
  &.burger--close {
    span {
      background: $white !important;
      &:nth-child(1) {
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
        margin-top:10px;
      }
      &:nth-child(2) {
        -webkit-transform:rotate(-45deg);
        transform:rotate(-45deg);
        margin-top:0px;
      }
      &:nth-child(3) {
        opacity:0;
      }
    } // end of #burger.burger--close span
  } // end of #burger.burger--close
  @media (max-width: $screen-xs) {
    display:block;
  } // end of @media $screen-xs
} // end of #burger

#mobilenav {
  @media (min-width: $screen-sm) {
    display: block !important;
  }
  @media (max-width: $screen-xs) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 55px;
    background: rgba(0,0,0,.9);
    background: rgba(0,0,0,.9) url(img/proxima-logo-biale@2.png) no-repeat;
    background-position: 2rem .5rem;
    background-size: 163px 50px;
    // background-attachment: scroll;
    .right, .left {
      float: none !important;
    }
    a {
      display:block !important;
      padding:8px;
      text-align: center;
      text-transform: uppercase;
      @include font-size(1.6);
      font-weight: $font-weight-semibold;
    }
  } // end of @media $screen-xs
} // end of #mobilenav
