#nav {

  @include font-size(1.2);
  font-weight: $font-weight-semibold;

  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    @include font-size(1);
  }

  padding: 1.4rem;
  margin: .5rem;
  margin-right: 0;
  margin-bottom:0;

  ul, ul li {
    display:block;
    margin:0;
    padding:0;
  } // end of ul, ul li

  ul {
    li {
      a {
        display:block;
        color:$blue-light;
        text-decoration:none;
      } // end of a
    } // end of li
  } // end of ul

  @media (min-width: $screen-sm) {

    white-space:nowrap;

    ul li {
      display:inline-block;
      position:relative;
      &:hover {
        ul {
          display:block;
        }
      } // end of ul li:hover
      a {
        color: $white-snowy;
        opacity: 0.7;
        margin-right: 2rem;
        text-transform: uppercase;
        transition: opacity .3s linear;
        // height:52px;
      } // end of ul li a
      ul {
        display:none;
        position:absolute;
        top:52px;
        left:0/*-1px*/;
        z-index:10;
        background:#fff;
        border:1px solid #ddd;
        li {
          display:block;
          float:none;
          a {
            height:auto;
            min-width:150px;
          } // end of ul li ul li a
        } // end of ul li ul li
      } // end of ul li ul
      &:last-child {
        a {
          margin-right: 0;
        }
      }
    } // end of ul li

    li {
      &:hover {
        & > a {
          color: $white-snowy;
          opacity: 1;
        }
      } // end of li:hover
      &.current_page_item,
      &.current-menu-item,
      &.current-menu-parent,
      &.current-post-parent,
      &.current_page_parent,
      &.current-post-ancestor,
      &.current-page-ancestor,
      &.current-category-ancestor {
         & > a {
           color: $white-snowy;
           opacity: 1;
         }
       }
    } // end of li

  } // end of @media

}

#header {
  transition: all .3s ease-out;
  margin-bottom: 0 !important;
  z-index: $zi-5;
}
