.popover {
  @include box-shadow(0 0 2rem rgba(0,0,0,.2));
  z-index: $zi-4;
}

.popover-content {
  border: 0;
  z-index: $zi-5;
  strong {
    @include font-size(1.6);
    font-family: $font-secondary;
  }
  p {
    @include font-size(1.3);
  }
  a {
    @include font-size(1.2);
  }
}

/// Mixin to put items on a circle
/// [1] - Allows children to be absolutely positioned
/// [2] - Allows the mixin to be used on a list
/// [3] - In case box-sizing: border-box has been enabled
/// [4] - Allows any type of direct children to be targeted
///
/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
/// @param {String | false} $class-for-IE - Base class name for old IE
@mixin distribute-on-circle(
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);

  position: relative; /* 1 */
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none; /* 2 */
  box-sizing: content-box; /* 3 */

  > * { /* 4 */
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
  }

  $angle: (360 / $nb-items);
  $rot: 0;

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}

.circle-container {
  @include distribute-on-circle(6, 35rem, 11rem, false);
  padding: 6rem;
  margin: 0 auto;
  background-image: url(img/kadra-tlo.png);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: $zi-4;
  li {

  }

}

.circle-container img {
  display: block;
  width: 100%;
  border-radius: 50%;
  border: .5rem solid #FFF;
  transition: all .5s ease-out;

  &:hover {
    transition: all .5s ease-out;
    border-color: $blue;
    cursor: pointer;
  }
}



.dashed{
  stroke-dasharray: 10;
  stroke: $blue;

}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear;
  animation-fill-mode: forwards;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}
