#slider_top {
  position: relative;
  // height: 100vh;
  .swiper-container {
    &:first-child {
      height: 100vh;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @media (max-height: $screen-xs) {
        padding-top: 6rem;
      }
    }

  }
  .swiper-slide-content {
    width: 30%;
    color: $white-snowy;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 5%;
    @media (max-width: $screen-xs) {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    h1 {
      margin-bottom: 5rem;
      @media (max-width: $screen-xs) {
        @include font-size(2.5);
      }
      p {
        color: $white-snowy;
      }
    }
    a {
      @include primary-button;
      &:last-child {
        margin-left: 1rem;
      }
      @media (max-width: 350px) {
        display: block;
        width: 80%;
        text-align: center;
        &:last-child {
          margin-top: 1rem;
          margin-left: 0;
        }
      }
    }
  }
  .swiper-button {
    &-prev, &-next {
      top: 48%;
      width: 24px;
      height: 48px;
      background-size: 24px 48px;
      @media (max-width: $screen-xs) {
        top: 30%;
        height: 24px;
        width: 12px;
        background-size: 12px 24px;
      }
    }
    &-prev {
      background-image: url(img/slider-strzalka-w-lewo@2.png);
      left: 1.9% !important;
    }
    &-next {
      background-image: url(img/slider-strzalka-w-prawo@2.png);
      right: 1.4% !important;
    }
  }
  .slider_more {
    width: 10%;
    bottom: -1rem;
    @include centerer(true, false);
    z-index: $zi-5;
    transition: bottom .2s linear;
    &:hover {
      bottom: 0;
      transition: bottom .2s linear;
    }
  }
  #partners {
    @media (max-width: $screen-xs) {
      display: none;
    }
    top: -20vh;
    .swiper-slide {
      // width: 20% !important;
    }
    img {
      opacity: .5;
    }
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    background-image: url(img/ochroniarz-naglowek.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 514px;
    height: 90%;
    bottom: 0;
    right: 10%;
    z-index: $zi-4;
    @media (max-width: $screen-xs) {
      background-image: url(img/ochroniarz-mobilny.png);
      width: 100%;
      height: 45vh;
      left: 50%;
      right: 0;
      transform: translate(-50%);
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      background-size: 70%;
      background-position: bottom center;
    }
    @media (max-width: 350px) {
      height: 30vh;
    }
  }
} // end of #slider_top

#fourth_section {

  .swiper-container {
    z-index: $zi-5;
    // text-align: center;
    padding: 0rem 4rem;
    p {
      color: $white;
      opacity: .8;
      @include font-size(1.4);
    }
  }
  .swiper-pagination {
    top: 0 !important;
  }
  .swiper-slide {
    padding: 3rem 2rem;
  }

  .swiper-button {
    &-next, &-prev {
      top: 41%;
    }
    &-next {
      background-image: url(img/nawigacja-strzalka-w-prawo-biala@2.png);
    }
    &-prev {
      background-image: url(img/nawigacja-strzalka-w-lewo-biala@2.png);
    }
  }

  .swiper-pagination {

    &-bullet {
      background-color: $white;
    }

  }

}

#seventh_section {
  .swiper-container {
    padding: 0 3rem;
  }
  .swiper-button {
    &-prev, &-next {
      height: 50px !important;
      width: 26px !important;
      background-size: contain;
      z-index: $zi-5;
      @media (max-width: $screen-xs) {
        display: none;
      }
    }
    &-prev {
      left: 0;
      background-image: url(img/nawigacja-strzalka-w-lewo@2.png)
    }
    &-next {
      right: 0;
      background-image: url(img/nawigacja-strzalka-w-prawo@2.png)
    }
  }
}
