/* WPCF7 */
.screen-reader-response {
    display:none;
}
.wpcf7-form p, .wpcf7-form label, .wpcf7-form div.units-row {
    margin-bottom:.3em;
}
.wpcf7-not-valid-tip {
    display:block;
    font-size: 1.4rem !important;
    font-size: 14px;
    color:#beceff !important;
}
.wpcf7-validation-errors,
.wpcf7-mail-sent-ok {
    position:relative;
    padding:9px 13px;
    margin-bottom:1.6em;
    border-color: rgb(27,69,144) !important;
    border-radius: .5rem;
    @include box-shadow(0 0 2rem rgba(0,0,0,.2));
    color: $black-light;
    background-color: rgba(255,255,255,.1);
}
.wpcf7-mail-sent-ok {
    background-color:#D5ECD9;
}
.wpcf7-form .ajax-loader {
    float: left;
}

#contant-form {
  label {
    font-weight: $font-weight-regular;
    @include font-size(1.4);
  }
  input {
    border: 0;
    border-radius: 0;
    background-color: rgb(27,69,144);
  }
  textarea {
    border: 0;
    border-radius: 0;
    background-color: rgb(27,69,144);
  }
  input, textarea {
    color: $white;
  }
  input[type="submit"] {
    padding: 1rem 2rem;
    text-transform: uppercase;
    @include font-size(1.2);
    background-color: $blue;
    border: 1px solid $white;
    display: block;
    margin: 3rem auto;
    margin-bottom: 1.4rem;
    transition: all .3s linear;
    color: $white;
    &:hover {
      background-color: $white;
      border: 1px solid $blue;
      color: $blue;
    }
  }
  .form-control {
    &:focus {
      box-shadow: none;
    }
  }
}
