@mixin primary-button {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 2px solid $white-snowy;
  color: $white-snowy;
  text-decoration: none;
  font-weight: $font-weight-semibold;
  @include font-size(1.2);
  transition: background-color .2s linear, color .1s linear;
  &:hover {
    background-color: $white-snowy;
    color: $blue;
    transition: background-color .2s linear, color .1s linear;
  }
}
