body {
    overflow-y: scroll;
    overflow-x: hidden;
    background: $white;
}

html {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#body {
  overflow-x: hidden;
}
