// Global Config

// Fonts
$font-main: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$base-font-size: 1.5;

// Font Weights
$font-weight-regular:   400;
$font-weight-semibold:  600;
$font-weight-bold:      700;

// Colors
$white:        rgb(255, 255, 255);
$white-snowy:  rgb(238, 238, 238);
$black:        rgb(0, 0, 0);
$black-light:  rgb(26,26,26);
$gray:         rgb(41, 46, 54);
$gray-light:   rgb(100, 100, 100);
$blue:         #3678ce;
$blue-light:   rgb(166, 201, 247);
$yyyy:         rgb(238, 238, 238);

// Color usage
$color-background:  $blue;

$color-text:        $gray-light;
$color-headings:    $black-light;
$color-link:        $black-light;

// z-index
$zi-1 : -1;
$zi-2 : 1000;
$zi-3 : 2000;
$zi-4 : 3000;
$zi-5 : 9999;

//Breakpoints
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-fh: 1920px;
