// Clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// Fullblock
%fullblock {
    display: block;
    width: 100%;
    height: 100%;
}

// Center alignment
%center-align {
	text-align: center;
}

// Center elements
%centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

// Padding extra small
%padding-extra-small {
    padding: 1.2rem;

    @media (min-width: $screen-sm) {
        padding: 2.4rem;
    }
}

%padding-top-extra-small {
    padding-top: 1.2rem;

    @media (min-width: $screen-sm) {
        padding-top: 2.4rem;
    }
}

%padding-bottom-extra-small {
    padding-bottom: 1.2rem;

    @media (min-width: $screen-sm) {
        padding-bottom: 2.4rem;
    }
}

// Padding small
%padding-small {
    padding: 2.4rem;

    @media (min-width: $screen-sm) {
        padding: 4.8rem;
    }
}

%padding-top-small {
    padding-top: 2.4rem;

    @media (min-width: $screen-sm) {
        padding-top: 4.8rem;
    }
}

%padding-bottom-small {
    padding-bottom: 2.4rem;

    @media (min-width: $screen-sm) {
        padding-bottom: 4.8rem;
    }
}

// Padding medium
%padding-medium {
    padding: 4.8rem;

    @media (min-width: $screen-sm) {
        padding: 9.6rem;
    }
}

%padding-top-medium {
    padding-top: 4.8rem;

    @media (min-width: $screen-sm) {
        padding-top: 9.6rem;
    }
}

%padding-bottom-medium {
    padding-bottom: 4.8rem;

    @media (min-width: $screen-sm) {
        padding-bottom: 9.6rem;
    }
}

// No gutters

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
