html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body {
  font-family: $font-main;
  color: $black-light;
  @include font-size($base-font-size)
}

strong {
  font-weight: $font-weight-bold;
}

h1 {
  @include font-size(3.6);
  font-family: $font-secondary;
  font-weight: $font-weight-regular;
  span {
    @include font-size(3.6);
    font-weight: $font-weight-semibold;
  }
}

p {
  color: $color-text;
  span {
    font-weight: $font-weight-bold;
  }
}

h2,h3,h4,h5,h6 {
  font-family: $font-secondary;
}
