#footer {
  @include clearfix;
  color: $white-snowy;
  background-color: rgb(53, 120, 204);
  // position: relative;
  // z-index: $zi-5;
  h1 {
    margin-bottom: 2rem;
  }
  h5 {
    margin-bottom: 0;
  }

  button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    @include font-size(1.2);
    background-color: $blue;
    border: 1px solid $white;
    margin: 3rem 0;
    transition: all .3s linear;
    a {
      color: $white;
      text-decoration: none;
      transition: all .1s linear;
    }
    &:hover {
      background-color: $white;
      border: 1px solid $blue;
      a {
        color: $blue;
      }
    }
  }

  &__weblider {
    float: right;
    margin-right: 2rem;
    margin-bottom: 1rem;
    a {
      display: inline-block;
      margin-left: .5rem;
    }
  }

}

#timeline_container {
  background-color: #FFF;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#footer_wykres {
  @include coverer;
  background-image: url(img/wykres1.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 3;
}

#footer_wykres_inner {
  @include coverer;
  background-image: url(img/wykres2.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 2;
}

.timeline {
  @include coverer;
  padding: 0;
  margin: 0;
  li {
    position: absolute;
    display: inline-block;
    color: $black;
    &:nth-of-type(even) {
      .pin {
        opacity: .5;
        &:before {
          background-color: $blue;
        }
        &:after {
          background-color: $blue;
        }
      }
    }
  }
}

.pin {
  text-align: center;
  padding-bottom: 2.5rem;
  width: 25rem;
  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $blue;
    z-index: 1;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
  }
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 500px;
    background-color: $blue;
    z-index: 4;
    left: 50%;
    top: 100%;
  }
  .desc {
    strong {
      font-weight: $font-weight-semibold;
    }
  }
}
