.left_side {
  margin: 4rem 0;
}

.right_side {
  margin: 4rem 0;
}

.description {
  margin: 4rem 0;
}

#first_section {
  background-color: $white;
  padding: 4rem 0;
  position: relative;
  @media (max-width: $screen-xs) {
    padding: 2rem;
    padding-bottom: 0;
  }
  @media (min-width: $screen-sm) {
    padding-bottom: 10rem;
  }

  .left_side {

    padding-bottom: 2rem;

    h2 {
      margin-top: 0;
    }
    p {
      margin-bottom: 2rem;
      &:last-of-type {
        margin-bottom: 5rem;
        @media (max-width: $screen-xs) {
          margin-bottom: 8rem;
        }
      }
    }

    .single-circle {
      text-align: center;
      text-decoration: none;
      color: $black-light;
      transition: color .1s linear;
      &:hover {
        color: $blue;
        transition: color .1s linear;
      }
      @media (max-width: $screen-xs) {
        margin-bottom: 2rem;
      }
    } // end of .single-circle

    .circle-title {
      text-transform: uppercase;
      @include font-size(1.1);
    } // end of .circle-title

    .circle {
      &-1 {
        &:before {
          content: '';
          width: 80px;
          height: 80px;
          display: block;
          margin: 0 auto;
          background-image: url(img/wyrozniki-zarzadzanie@2.png);
          background-position: center center;
          background-size: contain;
          background-color: $white-snowy;
          border-radius: 50%;
          transition: background-color .2s linear, background-image .1s linear;
          margin-bottom: .5rem;
        }
        &:hover {
          &:before {
            background-image: url(img/wyrozniki-zarzadzanie-biale@2.png);
            background-color: $blue !important;
            box-shadow: 0 0 0 8px rgba(47, 117, 204,0.4);
            animation: pulse 1.5s infinite;
          }
        }
      }
      &-2 {
        @extend .circle-1;
        &:before {
          background-image: url(img/wyrozniki-kadra@2.png);
        }
        &:hover {
          &:before {
            background-image: url(img/wyrozniki-kadra-biale@2.png);
          }
        }
      }
      &-3 {
        @extend .circle-1;
        &:before {
          background-image: url(img/wyrozniki-technologia@2.png);
        }
        &:hover {
          &:before {
            background-image: url(img/wyrozniki-technologia-biale@2.png);
          }
        }
      }
      &-4 {
        @extend .circle-1;
        &:before {
          background-image: url(img/wyrozniki-prezencja@2.png);
        }
        &:hover {
          &:before {
            background-image: url(img/wyrozniki-prezencja-biale@2.png);
          }
        }
      }
      &-5 {
        @extend .circle-1;
        &:before {
          background-image: url(img/wyrozniki-obsluga@2.png);
        }
        &:hover {
          &:before {
            background-image: url(img/wyrozniki-obsluga-biale@2.png);
          }
        }
      }
    } // end of .cricle

    .mouse {
      position: absolute;
      width: 22px;
      height: 40px;
      bottom: 1rem;
      left: 50%;
      margin-left: -12px;
      border-radius: 15px;
      border: 2px solid $blue;
      -webkit-animation: intro 1s;
      animation: intro 1s;
    }

    .scroll {
      display: block;
      width: 3px;
      height: 3px;
      margin: 6px auto;
      border-radius: 4px;
      background: $blue;
      -webkit-animation: finger 1s infinite;
      animation: finger 1s infinite;
    }

    @keyframes intro {
      0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    @keyframes finger {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
      }
    }


  } // end of .left_side

  .right_side {
    background-image: url(img/mapa.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .divider_1 {
    width: 100%;
    height: 291px;
    background-image: url(img/wektor1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 74.5%;
    position: absolute;
    bottom: -12%;
    z-index: 1;
    @media (min-width: 1600px) {
      background-size: 63.5%;
    }
    @media (min-width: 1900px) {
      background-size: 56%;
    }
  }
}

#second_section {
  position: relative;
  color: $white-snowy;
  background-image: url(img/ochrona.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 2rem;
  background-size: cover;
  @media (min-width: $screen-md) {
    padding: 6rem 0;
  }
  @media (min-width: $screen-lg) {
    padding: 8rem;
    padding-bottom: 20rem;
    background-attachment: fixed;
  }

  p {
    color: $white-snowy;
  }
  .circle-second {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url(img/wyrozniki-zarzadzanie-biale@2.png);
    background-position: center center;
    background-size: contain;
    background-color: $blue;
    border-radius: 50%;
    margin-bottom: .5rem;
    box-shadow: 0 0 0 8px rgba(47, 117, 204,0.4);
    animation: pulse 1.5s infinite;
  }
  .divider_2 {
    width: 100%;
    height: 297px;
    background-image: url(img/wektor2b.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 94.5%;
    position: absolute;
    bottom: -10%;
    z-index: 1;
    @media (min-width: 1600px) {
      background-size: 81%;
    }
    @media (min-width: 1900px) {
      background-size: 71%;
    }
  }
}

#third_section {
  padding: 2rem;
  position: relative;
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    padding: 0;
  }
  @media (min-width: $screen-md) {
    padding: 4rem;
  }
  background: linear-gradient(90deg, $white 50%, $white-snowy 50%);
  @media (max-width: $screen-sm) {
    background: $white;
  }
  .left_side {
    position: relative;
    .circle-third {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-image: url(img/wyrozniki-kadra-biale@2.png);
      background-position: center center;
      background-size: contain;
      background-color: $blue;
      border-radius: 50%;
      margin-bottom: .5rem;
      box-shadow: 0 0 0 8px rgba(47, 117, 204,0.4);
      animation: pulse 1.5s infinite;
    }
  }
  .right_side {
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      background: $white-snowy;
    }
  }
  .divider_3 {
    width: 100%;
    height: 409px;
    background-image: url(img/wektor3.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    left: -6.6%;
    bottom: -12%;
    z-index: 1;
    @media (min-width: 1600px) {
      left: -4.6%;
      bottom: -13%;
      background-size: 47%;
    }
    @media (min-width: 1900px) {
      background-size: 40%;
      background-position: bottom center;
      left: -4.4%;
      bottom: -12%;
    }
  }
}

#fourth_section {
  background-color: $color-background;
  position: relative;
  padding: 2rem;
  @media (min-width: $screen-sm) {
    padding: 4rem 0;
  }
  .left_side {
    position: relative;
    z-index: 2;
    @include clearfix;
    .circle-fourth {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-image: url(img/wyrozniki-technologia-niebieskie@2.png);
      background-position: center center;
      background-size: contain;
      background-color: $white-snowy;
      border-radius: 50%;
      margin-bottom: .5rem;
      box-shadow: 0 0 0 8px rgba(255, 255, 255,0.4);
      animation: pulse-white 1.5s infinite;
    }
    color: $white-snowy;
    p {
      color: $white-snowy;
    }

    .single-element {
      float: left;
      margin-top: 2rem;
      @include font-size(1.3);
      img {
        width: 70px;
        height: 70px;
        vertical-align: middle;
        float: left;
        margin-right: 2rem;
      }
      p {
        vertical-align: middle;
        display: block;
        overflow: hidden;
      }
      @include clearfix;
    }

  }
  .right_side {
    margin-top: 8rem;
  }

  .patrol {
    @include coverer;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 60%;
    z-index: 1;
    @media (max-width: $screen-sm) {
      display: none;
    }
    @media (min-width: 1600px) {
      background-size: 55%;
    }
    &-1 {
      @extend .patrol;
      background-image: url(img/patrol1.jpg);
    }
    &-2 {
      @extend .patrol;
      background-image: url(img/patrol2.png);
    }
    &-3 {
      @extend .patrol;
      background-image: url(img/patrol3.png);
    }
    &-4 {
      @extend .patrol;
      background-image: url(img/patrol4.png);
    }
    &-5 {
      @extend .patrol;
      background-image: url(img/patrol5.png);
    }
    &-6 {
      @extend .patrol;
      background-image: url(img/patrol6.png);
    }
    &-7 {
      @extend .patrol;
      background-image: url(img/patrol7.png);
    }
    &-8 {
      @extend .patrol;
      background-image: url(img/patrol8.png);
    }
    &-9 {
      @extend .patrol;
      background-image: url(img/patrol9.png);
    }
    &-10 {
      @extend .patrol;
      background-image: url(img/patrol10.png);
    }
    &-11 {
      @extend .patrol;
      background-image: url(img/patrol11.png);
    }
  }

  .divider_4 {
    width: 100%;
    height: 134px;
    background-image: url(img/wektor4.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50%;
    position: absolute;
    left: -6.7%;
    bottom: -4.5%;
    z-index: 1;
    @media (min-width: 1600px) {
      background-size: 56%;
      left: -2.15%;
    }
    @media (min-width: 1900px) {
      background-size: 55%;
      background-position: bottom center;
      left: -.2%;
      bottom: -4%;
    }
  }

}

#fifth_section {
  background-color: $blue;
  position: relative;
  @media (max-width: $screen-sm) {
    padding: 2rem;
  }
  .left_side, .right_side {
    margin-bottom: 0 !important;
    @media (min-width: $screen-md) {
      padding-bottom: 40vh;
    }
  }
  .left_side {
    @include clearfix;
    .circle-fifth {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-image: url(img/wyrozniki-prezencja-niebieskie@2.png);
      background-position: center center;
      background-size: contain;
      background-color: $white-snowy;
      border-radius: 50%;
      margin-bottom: .5rem;
      box-shadow: 0 0 0 8px rgba(255, 255, 255,0.4);
      animation: pulse-white 1.5s infinite;
    }
    color: $white-snowy;
    p {
      color: $white-snowy;
    }
    .single-element {
      position: relative;
      float: left;
      margin-top: 2rem;
      @include font-size(1.3);
      z-index: $zi-2;
      img {
        width: 70px;
        height: 70px;
        vertical-align: middle;
        float: left;
        margin-right: 2rem;
      }
      p {
        vertical-align: middle;
        display: block;
        overflow: hidden;
      }
      @include clearfix;
      @media (min-width: $screen-md) {
        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgb(46, 153, 190);
          top: 5px;
          right: 0;
        }
        &:after {
          content: '';
          position: absolute;
          width: 250px;
          height: 1px;
          background-color: rgb(46, 153, 190);
          top: 9px;
          left: 100%;
          z-index: 1;
        }
      }

    }

  }
  .right_side {
    background-image: url(img/straznik.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    position: relative;
    z-index: 1;
  }

  .divider_5 {
    width: 100%;
    height: 360px;
    background-image: url(img/wektor6.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: -7%;
    bottom: -12.6%;
    z-index: 1;
    @media (min-width: 1600px) {
      background-size: 89%;
      bottom: -12.4%;

    }
    @media (min-width: 1900px) {
      background-size: 71%;
      left: -4.2%;
      bottom: -10.9%;
    }
  }

}

#sixth_section {
  background-color: $white;
  padding: 2rem;
  @media (min-width: $screen-md) {
    padding: 4rem;
    padding-top: 6rem;
  }
  .left_side {
    @media (min-width: $screen-sm) {
      padding: 9rem 0;
    }

    h1 {
      margin: 0;
      font-weight: $font-weight-semibold;
      span {
        font-weight: $font-weight-semibold;
      }
    }
    p {
      @include font-size(1.2);
      @media (min-width: $screen-sm) {
        width: 70%;
      }
    }
  }
  .right_side {
    .circle-sixth {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-image: url(img/wyrozniki-obsluga-biale@2.png);
      background-position: center center;
      background-size: contain;
      background-color: $blue;
      border-radius: 50%;
      margin-bottom: .5rem;
      box-shadow: 0 0 0 8px rgba(47, 117, 204,0.4);
      animation: pulse 1.5s infinite;
    }
  }
}

#seventh_section {
  background-color: $white;
  padding: 4rem 0;
  .reference-image {
    position: relative;
    &:before {
      content: '';
      @include coverer;
      background-color: rgba(0,0,0,.1);
      transition: background-color .2s linear;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(img/referencje-ozdobnik@2.png);
      width: 20px;
      height: 20px;
      z-index: 2;
    }
    &:hover {
      &:before {
        background-color: transparent;
        transition: background-color .2s linear;
      }
    }
    @media (max-width: $screen-xs) {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
  button {
    display: block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    @include font-size(1.2);
    background-color: $blue;
    border: 1px solid $white;
    margin: 0 auto;
    margin-top: 5rem !important;
    transition: all .3s linear;
    a {
      color: $white;
      text-decoration: none;
      transition: all .1s linear;
    }
    &:hover {
      background-color: $white;
      border: 1px solid $blue;
      a {
        color: $blue;
      }
    }
  }
}

@keyframes pulse {
	0% { box-shadow: 0 0 0 0 rgba(47, 117, 204,0.4); }
	70% { box-shadow: 0 0 0 10px rgba(240,76,38,0); }
	100% { box-shadow: 0 0 0 0 rgba(240,76,38,0); }
}

@keyframes pulse-white {
	0% { box-shadow: 0 0 0 0 rgba(255, 255, 255,0.4); }
	70% { box-shadow: 0 0 0 10px rgba(240,76,38,0); }
	100% { box-shadow: 0 0 0 0 rgba(240,76,38,0); }
}

@keyframes pulse-blue-light {
	0% { box-shadow: 0 0 0 0 rgba(172, 183, 194, 0.8); }
	70% { box-shadow: 0 0 0 10px rgba(240,76,38,.0); }
	100% { box-shadow: 0 0 0 0 rgba(240,76,38,.0); }
}

@keyframes pulse-dark {
	0% { box-shadow: 0 0 0 0 rgba(50, 56, 70, 0.8); }
	70% { box-shadow: 0 0 0 10px rgba(240,76,38,.0); }
	100% { box-shadow: 0 0 0 0 rgba(240,76,38,.0); }
}
