#header {
  border-bottom: 1px solid rgba(255,255,255,.5);
}


#logo {

  padding: .5rem 2rem;

  border-right: 1px solid rgba(255,255,255,.5);

  @media (min-width: $screen-sm) {
    padding-left: 0;
  }

  // img {
  //   transform: scale(0.5);
  // }

  @media (max-width: $screen-xs) {
    text-align: center;
  }

  a {
    color:inherit;
    text-decoration:none;
  }

}
