#map {
  height: 210px;
  width: 100%;
  z-index: 1;
}

#main {
  .divider {
    height: 1px;
    width: 100%;
    display: block;
    width: 100%;
    margin: 4rem auto;
    background-color: $gray-light;
  }
}

#helpline {
  @include clearfix;
  strong {
    color: $black-light;
  }
  p {
    line-height: 3rem;
  }
  img {
    margin-bottom: 1rem;
  }
  @media (max-width: $screen-xs) {
    margin-top: 4rem;
  }
}

#contant-form {
  padding: 2rem;
  background-color: $blue;
  z-index: $zi-5;
  color: $white;
  @media (min-width: $screen-sm) {
    top: -7rem;
    position: relative;
  }

}
