.page-title-header {
  height: 210px;
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    margin-top: 0;
    color: $white;
    text-transform: uppercase;
    @include centerer(true, true);
    @media (max-width: $screen-xs) {
      @include font-size(3);
    }
  }
  @media (max-width: $screen-xs) {
    margin-top: 6rem;
  }
  &:after {
    content: '';
    @include coverer;
    background-color: rgba(0,0,0,.2);
    z-index: $zi-1;
  }
  &__map {
    &:after {
      display: none;
    }
  }
}

#main {
  padding: 4rem 0;
  @include clearfix;

  p {
    @include clearfix;
  }

  .featured-image {
    margin: 0 auto;
    padding: 1rem;
  }
  @media (max-width: $screen-sm) {
    padding: 2rem;
    h1 {
      @include font-size(3);
    }
    .featured-image {
      width: 50%;
    }
  }
}


#our_security {
  background-color: rgb(234,234,234);
  margin: 4rem 0;
  .security-circle {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(204,211,218);
    box-shadow: 0 0 0 8px rgba(204,211,218,0.8);
    border-radius: 50%;
    animation: pulse-blue-light 1.5s infinite;
    float: left;
    margin-right: 2rem;
    transition: all .2s ease-out;
    @include clearfix;
    &-1 {
      @extend .security-circle;
      background-image: url(img/oferta-obiekty-przemyslowe@2.png);
    }
    &-2 {
      @extend .security-circle;
      background-image: url(img/oferta-obiekty-biurowe@2.png);
    }
    &-3 {
      @extend .security-circle;
      background-image: url(img/oferta-obiekty-handlowe@2.png);
    }
  } // end of .security-circle
  .single-security {
    border: 1px solid rgba(26,26,26,.2);
    padding: 2rem;
    transition: all .3s ease-out;
    &.middle {
      @media (min-width: $screen-md) {
        border-right: 0;
        border-left: 0;
      }
    }
    &:hover {
      background-color: rgb(32,35,42);
      color: $white;
      .security-circle {
        animation: pulse-dark 1.5s infinite;
        background-color: rgb(41,48,59);
        transition: all .2s ease-out;
        &-1 {
          background-image: url(img/oferta-obiekty-przemyslowe-biale@2.png);
        }
        &-2 {
          background-image: url(img/oferta-obiekty-biurowe-biale@2.png);
        }
        &-3 {
          background-image: url(img/oferta-obiekty-handlowe-biale@2.png);
        }
      }
    }
  } // end of .single-security

}

#referencje {

  background-color: $white-snowy;
  padding: 4rem 0;

  margin-bottom: 4rem;

  h1 {
    margin-top: 0;
    margin-bottom: 4rem;
    margin-left: 1rem;
  }

  &.referencje__wszystkie {
    // background-color: $white;
    margin: 0;
  }

  .single_reference {
    float: left;
    @include clearfix;
  }

  .reference-image {
    position: relative;
    &:before {
      content: '';
      @include coverer;
      background-color: rgba(0,0,0,.1);
      transition: background-color .2s linear;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(img/referencje-ozdobnik-szare-tlo@2.jpg);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      z-index: 2;
    }
    &:hover {
      &:before {
        background-color: transparent;
        transition: background-color .2s linear;
      }
    }
    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
      width: 50%;
    }
  }

  .divider {
    margin: 2rem 0;
    height: 1px;
    @media (max-width: $screen-xs) {
      display: none;
    }
  }

}
